*{
    /* color: aqua; */
}

h1{
    color: red;
 }

p{
  color: blue;
  font-size: 20px;
}


#hello{
    color: violet;
}

.heading{
    color: rgb(241, 148, 9);
}

/* priority order :  id-selector > class selector > tag selector */

.para2{
    color: red;
}

.para1{
    color: blue;
  }

.container{
    border: 2px solid red;
}


/* desecendent selector */
.container p{
    color: blueviolet;
}

/* child seclector */
.container > p{
    color: rgb(27, 216, 6);

}


/* Adjacent sibling selector */
.box + p{
    color: rgb(11, 232, 55);
}

/* general sibling selector */
.box ~ p{
    color: rgb(11, 232, 55);
}



.ibox{
    border: 1px solid red;
    height: 50px;
    width: 50px;
}

/* .box div:nth-child(2){
    background-color: yellow;
} */


input[type="text"]{
    height: 200px;
}

input[type="number"]{
    width: 400px;
}
