
span{
    background-color: lightblue;  
    /* display: block; */
}

.container{
    border: 2px solid rgb(0, 0, 0);
    background-color: antiquewhite;
 
    display: inline-block;
    height: 200px;
    width: 300px;
}